<p><%= "Hello" %>
  <%= @resource.email %>!</p>

<p><%= "Someone has requested a Password Reset Code to change your password. You can do this through the code below." %></p>

<p><%= "The following is your Password Reset Code, this code will expire in 1 hour: " %></p>

<p><%= @token %>

  <p><%= t '.ignore_mail_msg' %></p>
  <p><%= "Your password won't change until you access the code above and create a new one" %></p>